@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Font types */
.tinos-regular {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}

.tinos-bold {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}

.tinos-regular-italic {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: italic;
}

.tinos-bold-italic {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: italic;
}
/* End of Font Types */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Tinos", serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background-color: whitesmoke;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: whitesmoke;
}

nav {
  width: 100%;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.205);
  padding: 0 80px;
  padding: 5px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.nav-list li {
  list-style-type: none;
  padding: 3px;
}

.nav-list li a {
  text-decoration: none;
  color: rgb(35, 35, 35);
  font-size: 18px;
  transition: 0.3s;
}

.nav-list li a:hover {
  color: rgb(246, 101, 100, 1);
  text-shadow: 1px 1px 15px rgba(255, 0, 0, 0.28);
}

li {
  list-style-type: none;
}

.nav-list .logo {
  /* The logo stays left */
  margin-right: auto;
  font-size: 20px;
}

.nav-list .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.2em;
}

/* Spacing between items */
.nav-list li:not(.logo) {
  margin-left: 2.5rem;
}

.nav-list a:hover {
  border-bottom: 1px solid #ff4d4d;
}

.logo img {
  height: 50px;
  width: 50px;
}

.nav-list .contact-btn a {
  font-size: 19px;
  background-color: rgb(246, 101, 100, 1);
  border-radius: 5px;
  padding: 15px;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

.contact-btn:hover a {
  cursor: pointer;
  color: white !important;
  background-color: rgba(246, 101, 100, 0.645);
}

.hero-section {
  position: relative;
  background-image: url(./images/hero-pexels-shvets-production-7176319.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  z-index: 1;
}

.hero-section::before {
  content: "";
  position: absolute; /* Makes it layer over the image */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.486);
  z-index: 0; /* Places the overlay behind the content */
}

.hero-section * {
  position: relative;
  z-index: 2;
}

.hero-section h1 {
  margin: 2rem;
  color: whitesmoke;
  font-size: 25px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.588);
}

.hero-section p {
  width: 40%;
  color: whitesmoke;
  font-size: 25px;
  line-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section h1 {
  font-size: 3.3rem;
}

.cta-btn {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 24px;
  background-color: rgb(246, 101, 100, 1);
  border-radius: 5px;
  padding: 20px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.cta-btn:hover {
  background-color: rgba(246, 101, 100, 0.645);
}

.mission-section {
  /* background-color: rgb(161, 161, 161); */

  align-items: center;
  padding-bottom: 2rem;
  background: rgb(255, 115, 115);
  position: relative;
  padding: 3rem 2rem;
  overflow: hidden;
  z-index: -2;
}

.mission-section::before {
  content: "";
  position: absolute;
  top: 30px;
  left: -5%;
  width: 120%;
  height: 95%;
  background: whitesmoke;
  transform: rotate(-6deg);
  z-index: -1;
}

.mission-paragraphs {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.mission-paragraphs p {
  border-radius: 20px;
  text-align: center;
  max-width: 1000px;
  /* background-color: rgba(249, 204, 39, 0.537); */
}

.mission-section p {
  text-align: left;
  padding: 20px 1rem;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 35px;
}

.mission-content img {
  height: 500px;
  width: 600px;
  border-radius: 20px;
}

.mission-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h2 {
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 35px;
}

.services-section {
  background-color: whitesmoke;
  padding: 40px;
}

.services-section p {
  text-align: left;
  display: flex;
  font-size: 20px;
  line-height: 35px;
  padding: 15px 0;
}

.services-content {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.service-card {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
}

.service-card img {
  width: 500px;
  height: auto;
  margin: 20px 0;
}

.footer-section {
  background: rgb(45, 45, 45);
  border-top: solid rgba(150, 150, 150, 0.538) 1px;
  color: rgba(195, 195, 195, 0.513);
  padding-bottom: 3rem;
}

.footer-section p {
  text-align: left;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer-lists {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-list li {
  margin: 8px 0;
}

.footer-list li a {
  color: rgba(195, 195, 195, 0.513);
}
@media (max-width: 768px) {
  .footer-lists {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
